<header>
  <nav style="background-color: rgb(254, 255, 253);" class="navbar  navbar-expand-lg nav_bg navbar-light static-top" >
  <div class="container">
    <a class="navbar-brand" href="/">
      <h3 class="nav_brand">EKYAM</h3>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav ms-auto ">
       <li class="nav-item nav_button">
         <a class="nav-link active " aria-current="page" href="/">Home</a>
       </li>
        <li class="nav-item nav_button">
         <a class="nav-link active " aria-current="page" href="./features.ejs">Features</a>
       </li>
       <li class="nav-item nav_button">
        <a class="nav-link active " href="./contact.ejs">Contact</a>
       </li>
       
       <li class="nav-item nav_button">
         <a class="nav-link active " href="./aboutai.ejs">ABOUT-AI</a>
       </li>

       
      </ul>
    </div>
 </div>
</nav>
</header>