
    <div class="form-bootstrapp">
        <form class="row g-3" action="/stats" enctype="multipart/form-data" method="POST">

            <div class="col-md-3">
                <label for="validationDefault04" class="form-label">type of burn</label>
                <select class="form-select" id="validationDefault04" required>
                  <option selected disabled value=""><p></p></option>
                  <option value="electric">electric</option>
                  <option value="thermal">thermal</option>
                  <option value="chemical">chemical</option>
                  <option value="radiation">radiation</option>
                </select>
            </div>
            
            <div class="col-md-3">
              <label for="validationDefault04" class="form-label">High B.P.</label>
              <select class="form-select" id="validationDefault04" required>
                <option selected disabled value=""><p></p></option>
                <option value>YES</option>
                <option>NO</option>
              </select>
            </div>
            <div class="col-md-3">
                <label for="validationDefault04" class="form-label">diabeties</label>
                <select class="form-select" id="validationDefault04" required>
                  <option selected disabled value=""><p></p></option>
                  <option>YES</option>
                  <option>NO</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="validationDefault04" class="form-label">LUNG DISEASE</label>
                <select class="form-select" id="validationDefault04" required>
                  <option selected disabled value=""><p>...</p></option>
                  <option>YES</option>
                  <option>NO</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="validationDefault04" class="form-label">smoking</label>
                <select class="form-select" id="validationDefault04" required>
                  <option selected disabled value=""><p>...</p></option>
                  <option>YES</option>
                  <option>NO</option>
                </select>
            </div>
            
            <div class="col-12">
              <button class="btn btn-primary text-center" type="submit">Submit form</button>
            </div>
          </form>
     </div>



  